*{
	margin: 0;
	paddin: 0;
	box-sizing: border-box;
}

/* ver de cambiar tamaño de logo con media queries*/

div.logo {
	margin: 0 auto;
	width: 30%;
	margin-bottom: 5vh;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
}

div.menuGeneral{
	width: 60%;
	margin: 0 auto;
}

input[type='checkbox']{
	display: none;
}

/* label */

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.5rem;

  color: #ff8c1a;
  background: black;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: black;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

/* Triángulo*/

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

/* rotar triángulo */

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* contenido menu */

.content .content-inner {
  background: rgba(64, 64, 64, .2);
  border-bottom: 1px solid rgba(255, 140, 26, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

/* contenido oculto por default */

.content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

/* se muestra contenido en toggle */

.toggle:checked + .lbl-toggle + .content {
  max-height: 250px;
}

