*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img.logo {
	display: block;
	margin: 15px auto 10px;
	width: 90px;
	height: 90px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	position: relative;
}

h3.ig{
	font-family: 'Karla',Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
	color: rgb(187, 187, 187);
}

h3.ig a.igLink{
	text-decoration: none;
	color: inherit;
}

div.menuGeneral{
	width: 60%;
	margin: 0 auto;
}

input[type='checkbox']{
	display: none;
}

/* label */

.lbl-toggle {
  margin-top: 10px;
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.5rem;

  color: #ff8c1a;
  background: black;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: black;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

/* Tri�ngulo*/

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

/* rotar tri�ngulo */

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* contenido menu */

.content .content-inner {
  background: rgba(64, 64, 64, .2);
  border-bottom: 1px solid rgba(255, 140, 26, .45);

  padding: .5rem 1rem;
}

/* contenido oculto por default */

.content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

/* se muestra contenido en toggle */

.toggle:checked + .lbl-toggle + .content {
  max-height: 250px;
}

/* Pantalla Desktop */

@media (min-width: 992px) {
  div.menuGeneral{
  	width: 80%;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: flex;
  }

  div.menuGeneral div.row{
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	
  }
  
}
